@font-face {
  font-style: normal;
  font-family: JosefinSans;
  src: url("../assets/fonts/JosefinSans.ttf");
}
* {
  margin: 0%;
  padding: 0%;
  overflow-anchor: none;
  background: #161722;
}
body {
  color: #e4e5f1;
  font: 18px 400 "JosefinSans", Arial, sans-serif;
}
