@font-face {
  font-style: normal;
  font-family: JosefinSans;
  src: url("../assets/fonts/JosefinSans.ttf");
}
.config {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-radius: 0px 0px 5px 5px;
  padding: 25px;
  color: #4d5066;
  background: #25273c;
}
.config .config--reamining {
  font-size: 18px;
  font-family: "JosefinSans", Arial, sans-serif;
  font-weight: 400;
}
.config .config--filter {
  display: flex;
  flex-direction: row;
}
.config .config--filter .config--filter--item {
  padding: 0px 10px;
  font-size: 18px;
  font-family: "JosefinSans", Arial, sans-serif;
  font-weight: 400;
}
.config .config--clear {
  font-size: 18px;
  font-family: "JosefinSans", Arial, sans-serif;
  font-weight: 400;
}
.config .config--button {
  color: #4d5066;
  background: #25273c;
  border: none;
  font-size: 18px;
  font-family: "JosefinSans", Arial, sans-serif;
  font-weight: 400;
}
.config .config--button:hover {
  color: #777a92;
  cursor: pointer;
}
.config .config--button__active {
  color: #3a7bfd;
}
.config .config--button__active:hover {
  cursor: pointer;
}
.alt-config {
  display: none;
  margin: auto;
  width: 350px;
  border-radius: 0px 0px 5px 5px;
  padding: 25px;
  color: #4d5066;
  background: #25273c;
}
@media screen and (max-width: 375px) {
  .alt-config {
    display: flex;
  }
}
.alt-config .alt-config--reamining {
  font-size: 18px;
  font-family: "JosefinSans", Arial, sans-serif;
  font-weight: 400;
}
.alt-config .alt-config--filter {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.alt-config .alt-config--filter .alt-config--filter--item {
  padding: 0px 10px;
  font-size: 18px;
  font-family: "JosefinSans", Arial, sans-serif;
  font-weight: 400;
}
.alt-config .alt-config--clear {
  font-size: 18px;
  font-family: "JosefinSans", Arial, sans-serif;
  font-weight: 400;
}
.alt-config .alt-config--button {
  color: #4d5066;
  background: #25273c;
  border: none;
  font-size: 18px;
  font-family: "JosefinSans", Arial, sans-serif;
  font-weight: 400;
}
.alt-config .alt-config--button:hover {
  color: #777a92;
  cursor: pointer;
}
.alt-config .alt-config--button__active {
  color: #3a7bfd;
}
.alt-config .alt-config--button__active:hover {
  cursor: pointer;
}
@font-face {
  font-style: normal;
  font-family: JosefinSans;
  src: url("../assets/fonts/JosefinSans.ttf");
}
* {
  margin: 0%;
  padding: 0%;
  overflow-anchor: none;
}
body {
  background: #161722 url("../assets/images/bg-desktop-dark.jpg") no-repeat;
  margin: auto;
  color: #e4e5f1;
  font-size: 18px;
  font-family: "JosefinSans", Arial, sans-serif;
  font-weight: 400;
}
ul,
li {
  text-decoration: none;
  list-style: none;
}
@font-face {
  font-style: normal;
  font-family: JosefinSans;
  src: url("../assets/fonts/JosefinSans.ttf");
}
.header {
  width: 600px;
  margin: 0px auto 25px;
  padding-top: 80px;
}
.header .header--wrapper {
  display: flex;
  flex-direction: row;
}
.header .header--title {
  text-transform: uppercase;
  letter-spacing: 15px;
  font-size: 42px;
  font-family: "JosefinSans", Arial, sans-serif;
  font-weight: 700;
}
.header .header--icon {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-left: auto;
}
.header .header--icon:hover {
  cursor: pointer;
}
.hint--label {
  position: absolute;
  left: 50%;
  bottom: 5%;
  transform: translate(-50%, 50%);
  color: #777a92;
  z-index: -1;
}
@font-face {
  font-style: normal;
  font-family: JosefinSans;
  src: url("../assets/fonts/JosefinSans.ttf");
}
.addTodo {
  margin-bottom: 30px;
  -webkit-box-shadow: 0px 20px 30px -10px #161722;
  -moz-box-shadow: 0px 20px 30px -10px #161722;
  box-shadow: 0px 20px 30px -10px #161722;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  display: flex;
  justify-content: space-around;
  padding: 20px;
  background-color: #25273c;
}
.addTodo .addTodo--icon {
  position: relative;
  margin: auto;
  width: 1.25em;
  height: 1.25em;
  border: 1px solid #4d5066;
  background-color: #25273c;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}
.addTodo .addTodo--icon:hover {
  cursor: pointer;
}
.addTodo .addTodo--icon__complete {
  background: linear-gradient(115deg, #57ddff, #c058f3);
}
.addTodo .addTodo--icon .addTodo--icon--image {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.addTodo .addTodo--icon .addTodo--icon--image__complete {
  display: block;
}
.addTodo .addTodo--description {
  width: 90%;
  color: #393a4c;
  border: none;
  outline: none;
  background-color: #25273c;
  font-size: 18px;
  font-family: "JosefinSans", Arial, sans-serif;
  font-weight: 400;
}
.addTodo .addTodo--description:focus {
  color: #e4e5f1;
}
.addTodo .addTodo--description__complete {
  color: #777a92;
  text-decoration: line-through;
}
.todo {
  border-bottom: 1px solid #4d5066;
  -webkit-box-shadow: 0px 20px 30px -10px #161722;
  -moz-box-shadow: 0px 20px 30px -10px #161722;
  box-shadow: 0px 20px 30px -10px #161722;
  display: flex;
  justify-content: space-around;
  padding: 20px;
  background-color: #25273c;
}
.todo:first-child {
  -webkit-border-radius: 5px 5px 0px 0px;
  -moz-border-radius: 5px 5px 0px 0px;
  border-radius: 5px 5px 0px 0px;
}
.todo .todo--icon {
  position: relative;
  margin: auto;
  width: 1.25em;
  height: 1.25em;
  border: 1px solid #4d5066;
  background-color: #25273c;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}
.todo .todo--icon:hover {
  cursor: pointer;
}
.todo .todo--icon__complete {
  background: linear-gradient(115deg, #57ddff, #c058f3);
}
.todo .todo--icon .todo--icon--image {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.todo .todo--icon .todo--icon--image__complete {
  display: block;
}
.todo .todo--description {
  display: flex;
  justify-content: end;
  flex-direction: column;
  width: 80%;
  color: #e4e5f1;
  border: none;
  outline: none;
  background-color: #25273c;
  font-size: 18px;
  font-family: "JosefinSans", Arial, sans-serif;
  font-weight: 400;
}
.todo .todo--description:focus {
  color: #e4e5f1;
}
.todo .todo--description__complete {
  color: #777a92;
  text-decoration: line-through;
}
.todo .todo--cross {
  position: relative;
  margin: auto;
  width: 1.25em;
  height: 1.25em;
}
.todo .todo--cross .todo--cross--image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.app {
  width: 600px;
  margin: auto;
}
@media screen and (max-width: 375px) {
  .app {
    width: 350px;
  }
}
